body {
  font-family: "Arial Black", Gadget, sans-serif;
  text-align:center;
  margin-top:50px;
  color:#FFF;
  text-shadow:-1px -1px #333;
  background:black;
}


h1 { 
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10%;
}

#container {
  margin-left: 40%;
}

#gameBoard {
  height: 390px;
  width: 390px;
  background-color: grey;
}


#playerContainer {
  height: 55px;
  width: 395px;
  margin-bottom: 5%;
}

/*
.player {
  height: 50px;
  width: 195px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}*/

td {
  height: 130px;
  width: 130px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.X:before {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 300%;
  content: 'X';
}

.O:before {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 300%;
  content: 'O';
}